<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<div class="main__body">
  <div class="container">

    <div class="login__page">
      <div class="row">
          <div class="card col-md-4 col-md-offset-4">
            <div class="login__card">
              <div class="card-block">

                  <form name="userform" method="post" #formCtrl="ngForm">
                    <h3>Login</h3>
                    <h5>{{error}}</h5>
                    <div class="form-group">
                      <label for="Email1">Email address</label>
                      <input type="email" class="form-control" [(ngModel)]="user.email" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                      <label for="Password1">Password</label>
                      <input type="password" class="form-control" [(ngModel)]="user.password" name="password" placeholder="Password" required>
                    </div>

                    <div class="form-group">
                        <button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="signInWithEmail()" [disabled]="formCtrl.form.invalid">
                          Login with Email
                        </button>
                    </div>
                    <div class="btn white darken-4 col s10 m4">
                      <a (click)="signInWithGoogle()" style="text-transform:none">
                          <div class="left">
                              <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                          </div>
                          Login with Google
                      </a>
                    </div>  
                    <br> <br>
                    <div class="form-group">
                        <a [routerLink]="['/register']" routerLinkActive="router-link-active" class="logo">Not Registered? Sign Up</a>                         
                    </div>
                    

                                  
                  </form>
                  
              </div>
            </div>
          </div>

      </div>
    </div> <!-- end card -->

  </div>  <!-- end container -->
</div> 