<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="landing">
  <!--
<img class="logo" src="https://firebasestorage.googleapis.com/v0/b/meal-plan-generator-745c7.appspot.com/o/sitePics%2Flogo.png?alt=media&token=b16f3fc8-919b-4e2e-bfc8-c7806decea78" alt="logo">
  -->
<slideshow [imageUrls]="imageUrls"
           [height]="height"
           [minHeight]="'525px'"
           [autoPlay]="true"
           [showArrows]="false"
           ></slideshow>
  <img width="300" alt="" src="">
</div>
<div class="description">
<h2>Meal plan generator of your deams: </h2>
<img src="" alt="">
</div>


<router-outlet></router-outlet>