<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Good Eatin'
  </h1>
  <img width="300" alt="" src="">
</div>
<h2>Meal plan generator of your deams: </h2>

<slideshow [imageUrls]="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwi03ammxLvgAhWLv1QKHWOKDEcQjRx6BAgBEAU&url=http%3A%2F%2Fnechc.com%2Fprograms-services%2Fhealth-promotion%2Fgood-food-box%2F&psig=AOvVaw0xiMrBouiVgETgEkeKeCH-&ust=1550244321668647"></slideshow>
<router-outlet></router-outlet>