@font-face {
    font-family: bebasNeue;
    src: url(https://firebasestorage.googleapis.com/v0/b/meal-plan-generator-745c7.appspot.com/o/fonts%2FBebasNeue%20Regular.otf?alt=media&token=7cd0995f-da9c-4c86-958f-ae97714ba7e0);
  }
.recipe img{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.recipe {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.recipe h2{
    text-align: center;
    font-family: bebasNeue;
}