<div class="recipe">
    <h2 class="title">{{recipe.title}}</h2> 
    <button *ngIf="isCreator === true" (click)="editButton()">Edit Recipe</button> 
     <a *ngFor="let item of starList; let i=index ">  
        <i *ngIf="item" class="fa fa-star-o"></i>    
        <i *ngIf="!item" class="fa fa-star"></i>   
    </a>  {{recipe.averageReview.count}}

    <br>
    <img src="{{recipe.picture}}"> <br>
    <h2> Ingredients </h2>
    <hr>
    <div class="ingredients" *ngFor="let ingredient of recipe.ingredients">
       {{ingredient.amount}} {{ingredient.name}} <br> <br>
    </div>
    
    <h2> Instructions </h2>
    <hr>
    <div class="instructions" *ngFor="let instruction of recipe.instructions">
        {{instruction.step}}. {{instruction.text}} <br> <br>
    </div>
    <div class="reviews" *ngFor="let review of recipe.publicReviews">
        <p *ngIf="recipe.publicReviews.length < 1"> There are no reviews yet. Be the first!</p>
    </div>
</div>