<body>
  <div class="reviews-container">
    <div class="add-review" *ngIf="!hasAReview">
        <img src="{{user.picture}}" alt="{{user.name}}-pic"> {{user.name}}
        <a *ngFor="let item of starList; let i=index " (click)="setStars(i)">  
            <i *ngIf="item" class="fa fa-star-o"></i>    
            <i *ngIf="!item" class="fa fa-star"></i>   
        </a> 
    </div>
    <br>
    <div class="review-container" *ngFor="let review of publicReviews">
      <img src="{{review.userData.userPic}}" alt="{{review.userData.username}}-pic"> {{review.userData.username}} 
      <a *ngFor="let item of review.starList; let i=index ">  
        <i *ngIf="item" class="fa fa-star-o"></i>    
        <i *ngIf="!item" class="fa fa-star"></i>   
      </a> 
    </div>
  </div>
</body>>