

<div class="add-recipe">
    <form name="recipe-form" method="post" #recipeForm="ngForm" (ngSubmit)="createRecipe(recipeForm)">
        <h3>Recipe</h3>
        <div class="title">
            <label for="recipe-title">Name</label>
            <input type="text" [(ngModel)]="recipe.title" name="title" placeholder="Title" required>
        </div>
        <div class="picture">
            Add a picture <br>
            <input type="file" (change)="addFile($event)">
            <img src="recipe.picture" alt="Recipe Picture">
        </div>
        <h5>Ingredients</h5>
            <button (click)="addIngredient($event)" id="add-ingredient">Add Ingredient</button> 
            <br> <br>
        <div class="ingredients" id="ingredient-container" *ngFor="let ingredient of ingredients; let i = index">
            <input type="text" [(ngModel)]="ingredient.name" name="name" placeholder="Sugar"  required>
            <input type="text" [(ngModel)]="ingredient.amount" name="amount" placeholder="1 Cup" required>
            <br>
        </div>
        <h5>Instructions</h5>
            <button (click)="addInstruction($event)" id="add-instruction">Add Instruction</button> 
            <br> <br>
        <div class="instructions" id ="instruction-container"  *ngFor="let instruction of instructions; let i = index">
            <input type="text" [(ngModel)]="instruction.text" name="instruction" placeholder="Preheat oven to ..."  required>
            <br>
        </div>
        <div class="type" id="recipe-type">
            <input type="radio" name="type" [(ngModel)]="recipe.type" value="Entree" checked="checked"> Entree <br>
            <input type="radio" name="type" [(ngModel)]="recipe.type" value="Side"> Side <br>
        </div>
        <div class="tags" id="recipe-tags"> 
            <tag-input [(ngModel)]="recipe.tags" name="tags" [editable]="true"></tag-input>
        </div>
        <div class="private" id="recipe-private">
            <input type="radio" name="isPublic" [(ngModel)]="recipe.isPublic" value="true" checked="checked"> Public <br>
            <input type="radio" name="isPublic"[(ngModel)]="recipe.isPublic" value="false"> Private <br>
        </div>
        <div class="submit">
        <button >Submit</button>
        </div>
    </form>
</div>