<div class="header">
    <a [routerLink]="['/editMeals']" routerLinkActive="router-link-active" >Recipes in Generator</a> 
    <!--<a [routerLink]="['/editWeek']" routerLinkActive="router-link-active" >Edit Your Week of Meals</a> -->
    
    <button (click)="runGenerator()">Run Generator</button>
</div>
<div class="calendar">

    <div class="week-view" *ngFor="let week of weeks; let i = index">
        <h2>Week - {{format(week.startDate)}}</h2> <br>
        <div class="day" *ngFor="let day of week.daysOfWeek; let j = index">
            {{daysOfWeekDisplay[j]}}
            <div class="meal" *ngIf="day.breakfast.length > 0">
                Breakfast
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of day.breakfast">
                    {{recipe.title}} <br>
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
            <div class="meal" *ngIf="day.lunch.length > 0">
                Lunch
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of day.lunch">
                    {{recipe.title}} <br>
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
            <div class="meal" *ngIf="day.dinner.length > 0">
                Dinner
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of day.dinner">
                    {{recipe.title}} <br>
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
            <button (click)="sendToEditWeekPage(week.ID, j)">Edit Day</button>
        </div>
        <hr>
    </div>
</div>
<router-outlet></router-outlet>
