<div class="calendar">
    <div class="header">
        <a [routerLink]="['/addRecipe']" routerLinkActive="router-link-active" >Add a Recipe to Generator</a> 
        <a [routerLink]="['/editMeals']" routerLinkActive="router-link-active" >View Recipes in Generator</a> 
        <a [routerLink]="['/editWeek']" routerLinkActive="router-link-active" >Edit Your Week of Meals</a> 
        <button (click)="runGenerator()">Run Generator</button>
    </div>
    <div class="week-view" *ngFor="let week of weeks; let i = index">
        <div class="day">
            SUNDAY
            <div class="meal" *ngIf="week.sunday.breakfast.length > 0">
                Breakfast
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.sunday.breakfast">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
            <div class="meal" *ngIf="week.sunday.lunch.length > 0">
                Lunch
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.sunday.lunch">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
            <div class="meal" *ngIf="week.sunday.dinner.length > 0">
                Dinner
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.sunday.dinner">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
        </div>
        <div class="day">
            MONDAY
            <div class="meal" *ngIf="week.monday.breakfast.length > 0">
                Breakfast
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.monday.breakfast">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
            <div class="meal" *ngIf="week.monday.lunch.length > 0">
                Lunch
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.monday.lunch">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
            <div class="meal" *ngIf="week.monday.dinner.length > 0">
                Dinner
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.monday.dinner">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
        </div>
        <div class="day">
            TUESDAY
            <div class="meal" *ngIf="week.tuesday.breakfast.length > 0">
                Breakfast
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.tuesday.breakfast">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
            <div class="meal" *ngIf="week.tuesday.lunch.length > 0">
                Lunch
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.tuesday.lunch">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
            <div class="meal" *ngIf="week.tuesday.dinner.length > 0">
                Dinner
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.tuesday.dinner">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
        </div>
        <div class="day">
            WEDNESDAY
            <div class="meal" *ngIf="week.wednesday.breakfast.length > 0">
                Breakfast
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.wednesday.breakfast">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
            <div class="meal" *ngIf="week.wednesday.lunch.length > 0">
                Lunch
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.wednesday.lunch">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
            <div class="meal" *ngIf="week.wednesday.dinner.length > 0">
                Dinner
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.wednesday.dinner">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
        </div>
        <div class="day">
            THURSDAY
            <div class="meal" *ngIf="week.thursday.breakfast.length > 0">
                Breakfast
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.thursday.breakfast">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
            <div class="meal" *ngIf="week.thursday.lunch.length > 0">
                Lunch
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.thursday.lunch">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
            <div class="meal" *ngIf="week.thursday.dinner.length > 0">
                Dinner
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.thursday.dinner">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
        </div>
        <div class="day">
            FRIDAY
            <div class="meal" *ngIf="week.friday.breakfast.length > 0">
                Breakfast
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.friday.breakfast">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
            <div class="meal" *ngIf="week.friday.lunch.length > 0">
                Lunch
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.friday.lunch">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
            <div class="meal" *ngIf="week.friday.dinner.length > 0">
                Dinner
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.friday.dinner">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
        </div>
        <div class="day">
            SATURDAY
            <div class="meal" *ngIf="week.saturday.breakfast.length > 0">
                Breakfast
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.saturday.breakfast">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
            <div class="meal" *ngIf="week.saturday.lunch.length > 0">
                Lunch
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.saturday.lunch">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
            <div class="meal" *ngIf="week.saturday.dinner.length > 0">
                Dinner
                <div class="recipe-container" (click)="recipeClick(recipe.id)" *ngFor="let recipe of week.saturday.dinner">
                    {{recipe.title}}
                    <img src="{{recipe.picture}}" alt="{{recipe.title}} Pic">
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
