.recipes-container {
    font-family:  Helvetica, sans-serif;
    width: 95%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.recipe-container{
    max-width: 180px;
    height: auto;
    text-align: center;
    align-self: center;
}

.recipe-container:hover {
    border: 1px solid #777;
}

.addButton {
    background-color: #82c8a0;
    padding: 4px 12px;  
    font-size: 12px;
    border: #7c8584;
    border-radius: 5px;

}

.removeButton {
    background-color: rgb(224, 216, 216);
    padding: 4px 12px;  
    font-size: 12px;
    border: #c9c7c7;
    border-radius: 5px;
}
.recipes-container img {
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.tags {
    background-color: grey;
    font-size: small;
}