<body>
<div class="recipes-container">
    <div class="recipe-container"  *ngFor="let recipe of recipeList; let i = index">
        <a (click)="recipeClick(recipe.id)">
        <img src="{{recipe.picture}}" alt="recipe pic">
        <h4>{{recipe.title}} </h4>
        <i class="fa fa-clock"></i>{{recipe.time}} min 
        </a>
        <button class="removeButton" (click)="removeRecipeFromGenerator(recipe.id, i)">-</button>
        <!--
        <div class="tags" *ngFor="let tag of recipe.tags">
            {{tag.display}} 
        </div>
        -->
    </div>


</div>
</body>